<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumLearn" verbose="1" >
    <!--<parameter name="url"  value="http://*.*.*.*:8080/"/> -->
    <test name="Tests">
        <classes>
            <class name="tests.FirstTest"/>
            <class name="tests.Task6Test"/>
            <class name="tests.Task7Test"/>
        </classes>
    </test>
</suite>
